name: GitHub Metrics

on:
  schedule:
    - cron: "0 6 * * *" 
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: emanoelCarvalho

          filename: assets/metrics.svg

          base: header, activity, community, repositories, metadata

          plugin_languages: yes
          plugin_languages_sections: most-used, recently-used
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8

          plugin_lines: yes

          plugin_achievements: yes
          plugin_achievements_display: compact

          plugin_repositories: yes
          plugin_repositories_featured: yes

          plugin_skyline: yes
          plugin_skyline_year: current-year
          plugin_skyline_frames: 60
          plugin_skyline_quality: 1
