name: GitHub Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *"

jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: emanoelCarvalho
          filename: assets/metrics.svg

          base: header, activity, community, repositories, metadata

          plugin_languages: yes
          plugin_languages_sections: most-used, recently-used
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8

          plugin_lines: yes
          